[submodule "decompilation-workers/jadx_decompile"]
	path = decompilation-workers/jadx_decompile
	url = https://github.com/dev-rvk/jadx_decompile.git
[submodule "decompilation-workers/so_decompiler"]
	path = decompilation-workers/so_decompiler
	url = https://github.com/dev-rvk/so_decompiler.git
[submodule "client"]
	path = client
	url = https://github.com/Owaiz13/ADM-V2-Frontend.git
[submodule "emulator/adm-emulator"]
	path = emulator/adm-emulator
	url = https://github.com/dev-rvk/adm-emulator.git
